{% load static %}
<header class="ht-header">
    <div class="container">
       <nav class="navbar navbar-default navbar-custom">
          <div class="navbar-header logo">
             <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <div id="nav-icon1">
                   <span></span>
                   <span></span>
                   <span></span>
                </div>
             </div>
             <a href="index-2.html"><img class="logo" src="{% static "images/logo1.png" %}" alt="" width="119" height="58"></a>
          </div>
          <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav flex-child-menu menu-left">
                <li class="hidden">
                   <a href="#page-top"></a>
                </li>
                <li class="dropdown first">
                   <a href="{% url 'home' %}" class="btn btn-default dropdown-toggle lv1">
                       Home
                   </a>
                </li>

                <li class="dropdown first">
                   <a href="{% url 'movies' %}" class="btn btn-default dropdown-toggle lv1">
                       Movies
                   </a>
                </li>





                <li class="dropdown first">
                   <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                   community <i class="fa fa-angle-down" aria-hidden="true"></i>
                   </a>
                   <ul class="dropdown-menu level1">
                      <li><a href="userfavoritegrid.html">user favorite grid</a></li>
                      <li><a href="userfavoritelist.html">user favorite list</a></li>
                      <li><a href="userprofile.html">user profile</a></li>
                      <li class="it-last"><a href="userrate.html">user rate</a></li>
                   </ul>
                </li>
             </ul>
             <ul class="nav navbar-nav flex-child-menu menu-right">
                <li class="loginLink"><a href="#">LOG In</a></li>
                <li class="btn signupLink"><a href="#">sign up</a></li>
             </ul>
          </div>
       </nav>
       <div class="top-search">
          <select>
             <option value="united">TV show</option>
             <option value="saab">Others</option>
          </select>
          <input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
       </div>
    </div>
 </header>
